# --- MongoDB Atlas ---
# Pega aquí tu URI de MongoDB Atlas (recuerda que este archivo SÍ es seguro compartirlo, pero el .env real NO)
MONGO_URI="mongodb+srv://<user>:<password>@<tu-cluster>.mongodb.net/?retryWrites=true&w=majority&appName=<AppName>"

# --- PostgreSQL (Local Docker) ---
# Valores por defecto para desarrollo local
POSTGRES_HOST="localhost"
POSTGRES_PORT="5432"
POSTGRES_USER="airvlc_user"
POSTGRES_PASSWORD="airvlc_password"
POSTGRES_DB="airvlc_db"

# --- Redis (Local Docker) ---
# Valores por defecto para desarrollo local
REDIS_HOST="localhost"
REDIS_PORT="6379"
